
html, body{
  max-height: 100%;
  overflow-y: hidden;
 background-color: #f9f9f9;
}


.cityHeading{
  position:absolute;
  top:0;
  left:1vw;
  font-size: calc(1.6vh + 2vw);
  font-family: 'KoHo', sans-serif;
  font-weight: 500;
    text-transform: uppercase;
    line-height: calc(1.6vh + 2vw);
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
  .at{
    transform: translateY(-0.2vh);
    display: inline-block;
    padding-left: 0.8vw;
    padding-right: 0.5vw;
  }
  h1 {
    font-size: calc(1.9vh + 2.2vw);
    font-weight: 500;
    margin:0;
    display: inline;
    line-height: unset;
  }
}





.glide__arrows{
  @media screen and (max-width: 800px) {
    display: none;
  }
  top: 43vh;
  height: 20vh;
  width:100vw;
  overflow: hidden;

  .glide__arrow{
    position: absolute;
    top: 0;
    height: 20vh;
    width: 5vw;
    border:none;
    background-color: #f9f9f9;
    color: #ddd;
    font-family: unset;
    font-weight: 100;
    font-size: calc(6vh + 100px);
    padding: 0;
    text-align: center;

    span {
        width: 100%;
        display: block;
        margin-top:-30px;
    }
    
      &.glide__arrow--left{
          left: 0;
          border-top-right-radius: 5vh;
          border-bottom-right-radius: 5vh;
      }
      &.glide__arrow--right{
          right: 0;
          border-top-left-radius: 5vh;
          border-bottom-left-radius: 5vh;
      }
  }
}


.dom-inject {
    //width: 500vw;
    font-family: 'KoHo', sans-serif;
    transition: transform 800ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s !important;
    height: 100%;

    .weatherbox {
        color: #555;
        background: transparent; 
        border: none;
        height: 100%;
        width: 100vw;
        //width: 50vw !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        //margin:0 !important;
        @media screen and (max-width: 800px) {
          font-weight: 500;
        }


        .city {
            font-size: calc(1.25vh + 1.25vw);
             z-index: 1000;

        }

        .date {
            font-size: calc(3vh + 3vw);
             z-index: 1000;
              .day{
                display: block;
                font-size: calc(2.5vh + 2.5vw);
                line-height: calc(2.33vh + 18px);

                &:before{
                  content: 'the';
                  font-size: calc(1.6vh + 1.6vw);
                  font-weight: 600;
                  font-style: italic;
                }
             }

        }
        .temp{
          z-index: 1000;
        }
        .degree {
            color: white;
            font-size: calc(5.25vh + 5.25vw);
            background: none;
            font-weight: 700;
            text-shadow:  0px 0px 130px rgba(0,0,0,0.80);
            line-height: calc(6vh + 6vw);

            // weird temp fix for iOS not bluring text-shadow on @fontface text
            @media screen and (max-width: 800px) {
              text-shadow: 1.5px 1.5px rgba(0,0,0,0.3);
            }
        }

        .description {
            font-size: calc(2.5vh + 2.5vw);
            z-index: 1000;
        }
        .description.thoughts {
            font-size: calc(1.75vh + 1.75vw);
            padding-top: 1.4vh;
        }

        .icon{
          z-index: 0;
          max-width: 100vw;
          //max-width: 50vw;
         // max-height: 100vh;
              height: calc(100% - 4.5vw);
              margin-top: 3vw;
          width: 100vw;
          //width: 50vw;
          overflow: hidden;
          position: absolute;
          //min-width: 100vw;
          //min-width: 50vw;
          top: 0;
          left: 0;
          border: solid 5vw #f9f9f9;
          border-radius: calc(5.25vh + 5.25vw);

          .img {
              min-width: 90vw;
              //min-width: 50vw;
              //min-height: calc(100vh - 10vw);
                  height: 100%;
              //filter: blur(1px);
              background-position: center;
              background-size: cover;
              background-blend-mode: lighten;
              transform: scale(1.05);

          }
        }
        // .background-fix{
        //   position: absolute;
        //   width: 150px;
        //   height: 100px;
        //   background-color: rgba(30, 30, 30, 0.2);
        //   border-radius: 100px;
        //   //filter: blur(30px);
        //   z-index: 2;
        //   top: 50%;
        //   left: 50%;
        //   margin-left: -75px;
        //   margin-top: -20px;
        // }

    }
    .weatherbox:nth-child(odd) {
      margin-left:10px !important;
      margin-right: 0px !important;
      &> div:not(.icon){
        padding-left: 3.5vw;
      }
      .icon {
        border-right: none !important;
        border-top-right-radius:  0;
        border-bottom-right-radius:  0;
      }
    }
    .weatherbox:nth-child(even) {
      margin-left: 0px !important;
      margin-right:10px !important;
      &> div:not(.icon){
        padding-right: 3.5vw;
      }
      .icon {
        border-left: none !important;
        border-top-left-radius:  0;
        border-bottom-left-radius:  0;
      }
    }
    // mobile only? maybe just testing issue
    .weatherbox:last-child{
        width: 9.5% !important;
    }
    .weatherbox.night{
        color: #fff;
        text-shadow: black 0 0 80px;
          .degree {
            //color: #000;
            text-shadow: black 0 0 140px
          }
    }

}


@media screen and (min-width: 992px) {
  .smallfonts .dom-inject .weatherbox {
      .city {
          font-size: 20px;
      }
      .date {
            font-size: 48px;
              .day{
                font-size: 32px;
                line-height: 36px;
                &:before{
                  font-size: 18px
                }
              }
      }  
      .degree {
            font-size: 78px;
            line-height:90px;
      }
      .description {
            font-size: 36px;
      }
      .description.thoughts {
            font-size: 29px;
      }
  }
}
